
.menu-container {
    position: relative;
}

.menu-title {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: var(--color-light-gray);
    color: var(--color-light-cream);
    font-weight: 250;

}

.entree > h3,.appetizer > h3 {
    margin: -1px;
    padding: 20px;
    background-color: var(--color-light-gray);
    color: var(--color-light-cream);
    font-weight: 200;
}

.card-container {
    display: flex;
    padding: 0px;
    background-color: var(--color-light-gray);
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.card-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

.item-card {
    position: relative;
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr; /* This creates two columns. */
    grid-template-rows: auto auto auto; /* This creates three rows. */
    margin: 20px;
    max-height: 500px;
    max-width: 500px;
    border-radius: 25px;
    background-color: var(--color-light-gray);
    color: var(--color-text-dark);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

.item-card > :first-child {
    grid-column: 1;
    grid-row: 1 / span 3; /* This makes the first child span 3 rows. */
}

.item-card > :nth-child(n+2) {
    grid-column: 2;
    /* This places the rest of the children in the second column. */
}

.item-img {
    width: 100%; /* This will make the image take up the full width of its grid cell. */
    height: 100%; /* This will make the image take up the full height of its grid cell. */
    object-fit: cover; /* This will scale the image to maintain its aspect ratio while filling the box. */
    border-radius: 25px 0px 0px 25px;
}

.promotion {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 90vw;
    height: 40vh;
    margin: auto;
}

.promotion-section {
    padding: 3rem;
    object-fit: scale-down;
}

.promotion-section > h2 {
    text-align: center;
    font-weight: 400;
}

.promotion-section > ul {
    list-style: none;
    font-size: .9rem;
}

.promotion-img {
    object-fit: cover;
    border-radius: 0px 35px 35px 0px;
    height: 40vh;
    width: 40vw;
    margin-left: auto;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darker-wood);
    padding: 1.5rem;
}

.menu-link {
    margin: 0px 1rem;
    color: var(--color-text-light);
}