
.menu-container {
    position: relative;
}

.menu-title {
    text-align: center;
}

.entree > h3,.appetizer > h3 {
    padding: 20px;
    background-color: var(--color-wood-brown);
    color: var(--color-light-cream);
}

.card-container {
    display: flex;
    padding: 0px;
    background-color: #a69f5e11;
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.card-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

.item-card {
    flex: 0 0 auto;
    display: grid;
    padding: 20px;
    margin: 20px;
    max-height: 300px;
    max-width: 300px;
    background-color: var(--color-darker-wood);
}