.menu-manager-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--color-light-gray);
  width: 100%;
  max-width: 100%;
}

.menu-manager-item-card {
  position: relative;
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr; /* This creates two columns. */
  grid-template-rows: auto auto auto; /* This creates three rows. */
  margin: 20px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 25px;
  background-color: var(--color-light-gray);
  color: var(--color-text-dark);
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

.menu-manager-item-card > .manager-item-img {
  grid-column: 1;
  grid-row: 1 / span 3; /* This makes the first child span 3 rows. */
  font-size: 1rem;
}

.menu-manager-item-card > .manager-item-content {
  grid-column: 2;
  /* This places the rest of the children in the second column. */
}

.manager-item-content > h2 {
  font-size: 0.9rem;
}

.manager-item-content > p {
  font-size: 0.7rem;
}

.menu-manager-item-img {
  width: 100%; /* This will make the image take up the full width of its grid cell. */
  height: 100%; /* This will make the image take up the full height of its grid cell. */
  object-fit: contain; /* This will scale the image to maintain its aspect ratio while filling the box. */
  border-radius: 25px 0px 0px 25px;
}

.manage-btns {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 4px;
}

.manage-btns button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-soft-olive);
  color: var(--color-text-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-btns button:hover {
  background-color: var(--color-gold);
}

.item-editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item-editor-itemName,
.item-editor-itemDescript,
.item-editor-itemPrice {
  display: block;
  margin-bottom: 10px;
}

.item-editor-itemName input,
.item-editor-itemDescript input,
.item-editor-itemPrice input {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.item-editor-updateBtn,
.item-editor-cancelBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.item-editor-updateBtn:hover,
.item-editor-cancelBtn:hover {
  background-color: #45a049;
}

.new-item {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.new-item label {
  margin-bottom: 10px;
}

.new-item input[type="text"],
.new-item input[type="number"],
.new-item select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-item button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.new-item button:hover {
  background-color: #45a049;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}