a {
    text-decoration: none;
    color: var(--color-wood-brown);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 20px;
    background-color: var(--color-light-gray);
    position: relative;
    z-index: 999;
    width: 100%;
    max-width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-button {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-in-out;    
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;    
}

.user-icon {
    width: 2.8rem;
    height: 2.8rem;
}

.menu-icon {
    width: 5rem;
    height: 5rem;
}

.menu-items {
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: visibility 0s 0.5s, opacity 0.5s cubic-bezier(0.0, 0.0, 0.2, 1), transform 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);
    margin: -1px 0px;
    padding: 0;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; /* Hides the overflow of content inside the menu */
    z-index: 999; /* Adjust the z-index as needed to control stacking order */
    background-color: var(--color-light-gray);
    color: var(--color-primary-cream);
    font-weight: 200;
    font-size: 30px;
    padding-top: 5vh;
    list-style: none;
    z-index: 1;
}

.menu-items.show {
    will-change: transform, opacity;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s, opacity 0.5s cubic-bezier(0.0, 0.0, 0.2, 1), transform 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.menu-items > li {
    width: 100%;
    text-align: center;
    padding: 50px;
    z-index: 2;
}






